h3 {
	color: cyan;
}

table.sweeper {
	width: auto;
	height: auto;
}

tr.sweeper {
	height: 50px;

}

td.sweeper {
	border: 5px solid slategray;
	width: 50px;
	min-width: 50px;
	max-width: 50px;
	text-align: center;
	vertical-align: middle;
}


td.covered {
	background-color: lightgray;
}
	td.covered:hover {
		background-color: darkgray;
	}
.clock {
	font-size: 40px;
}
.clock-stopped-lose {
	color: red;
}
.clock-stopped-win {
	color: green;
}

.result {
	font-size: 40px;
}
.result-win {
	color: green;
}
.result-lose {
	color: red;
}

img.bomb {
	height: 45px;
	width: 45px;
	background-color: red;
}
img.flag {
	height: 45px;
	width: 45px;
}

table.stats {
	width: auto;
	height: auto;
}
tr.stats {
	height: 150px;
}
td.stats {
	position: relative;
	text-align: center;
	color: white;

	text-align: center;
	vertical-align: middle;
}
img.stats {
	height: 100px;
	width: 100px;
}
div.stats-text {
	color: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p.clue {
	font-size: 26px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p.clue-1 {
	color: green;
}
p.clue-2 {
	color: yellow;
}
p.clue-3 {
	color: deeppink;
}
p.clue-4 {
	color: blue;
}
p.clue-5 {
	color: purple;
}
p.clue-6 {
	color: orangered;
}
p.clue-7 {
	color: cyan;
}
p.clue-8 {
	color: hotpink;
}