@page "/XegStar"

<h1>XegStar</h1>


<table class="xegstar-game-board">
	<tr>
		<td class="xegstar-player-board">
			Player 12
		</td>
		<td class="xegstar-game-board">
			<table class="test-table">
				<tr class="test-table-top">
					<td class="test-table"><p>&nbsp;</p></td>
					<td class="test-table"><XegStarSlot Slot="CurrentGame.Slots[0]" /></td>
					<td class="test-table"><p>&nbsp;</p></td>
				</tr>
				<tr class="test-table-middle">
					<td class="test-table"><XegStarSlot Slot="CurrentGame.Slots[1]" /></td>
					<td class="test-table"><XegStarSlot Slot="CurrentGame.Slots[2]" /></td>
					<td class="test-table"><XegStarSlot Slot="CurrentGame.Slots[3]" /></td>
				</tr>
				<tr class="test-table-bottom">
					<td colspan="3">
						<table class="test-table-bottom">
							<tr class="test-table">
								<td class="test-table"><p>&nbsp;</p></td>
								<td class="test-table"><XegStarSlot Slot="CurrentGame.Slots[4]" /></td>
								<td class="test-table"><XegStarSlot Slot="CurrentGame.Slots[5]" /></td>
								<td class="test-table"><p>&nbsp;</p></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td class="xegstar-player-board">
			Player 2
		</td>
	</tr>
</table>



