
@if (Slot.CurrentToken != null)
{
	<table class="xegstar-player-board">
		<tr>
			<td class="token @TokenClass">
				@Slot.CurrentToken.Value
			</td>
		</tr>
	</table>
}
<div>@("x" + Slot.Multiplier)</div>

@code {

}
